%div.wrapper#cart-table
  %h1 Your Cart
  %div.row
    %div.center.col-md-8.col-md-offset-2
      %table.cart-table.table-striped.table
        %hr
          %th Product Name
          %th Cart Quantity
          %th Price
          %th Edit
          %th Remove
        -users_cart.orders.each do |order|
          %tr{id: "#{order.id}"}
            %td
              =order.product.name
            %td
              =order.order_qty
            %td{id: "#{order.id}"}
              $
              =order.subtotal
            %td
              =link_to 'Edit', edit_user_cart_order_path(current_user, users_cart, order), id: "#{order.id}", class: "edit-link", remote: true
            %td
              =link_to 'Remove Item', user_cart_order_path(current_user, users_cart, order), id: "#{order.id}", class: "remove-link", method: :delete, remote: true, data: { confirm: 'Are you sure?' }
      %b
        Total Cost = $
        =users_cart.total_cost
      %br
      = button_to 'Purchase', user_cart_path(current_user, users_cart), method: :patch
      .edit-form-holder
