%div.wrapper
  - flash.each do |message_type, message|
    %div{:class => "alert alert-#{message_type}"}= message

  %h1
    = @product.name
  %img{:src=> "#{@product.img}"}/
  %p
    =@product.description
  %p
    Quantity:
    =@product.quantity
  %p
    $
    =@product.price
  %p
    -@categories.each do |category|
      =link_to category.name, category_path(category)
  %br/
  = form_tag("/users/#{current_user.id}/carts/#{users_cart.id}/orders/new", method: "get") do
    =hidden_field_tag "prod_id", @product.id
    - if @product.quantity <= 0
      =submit_tag 'Add to Cart', disabled: true
    - else
      =submit_tag 'Add to Cart'

  -if current_user.is_admin
    =link_to 'Edit', edit_product_path(@product)
    =link_to 'Destroy', product_path(@product),method: :delete,data: { confirm: 'Are you sure?' }
