%h1
  = @product.name
%img{:src=> "#{@product.img}"}/
%p
  =@product.description
%p
  Quantity:
  =@product.quantity
%p
  $
  =@product.price

-# = link_to 'Buy Me', create new cart

= link_to 'Edit', edit_product_path(@product)
= link_to 'Destroy', product_path(@product),
              method: :delete,
              data: { confirm: 'Are you sure?' }
= link_to 'Home', products_path
%br/
=link_to 'Add to Cart', cart_path(@product)
