%html
  %head
    %title Shoppe
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    = stylesheet_link_tag "application", media: 'all'
    = csrf_meta_tags
  %body
  %nav
    %ul
      %li
        %img{:src => "https://travis-ci.org/Tooconfident/e-shoppe.svg?branch=master"}/
      %li
        = link_to 'Home', root_path
      - if !logged_in_user
        %li
          = link_to 'Login', login_path
        %li
          = link_to 'Sign Up', new_user_path
      - if logged_in_user
        %li
          =link_to 'Logout', logout_path(session[:id]),method: :delete
        %li
          =link_to 'Order History', user_path(current_user)
        %li
          =link_to 'View All Items', products_path
        %li
          =link_to 'View By Categories', categories_path
        %li
          = link_to 'Your Cart', user_cart_path(current_user, users_cart)
      - if logged_in_user && current_user.is_admin
        %li
          = link_to 'Add Product', new_product_path
        %li
          = link_to 'Admin View', admin_products_path


  = yield
  = javascript_include_tag "application"
